.footer-container{
    background-color: #1a181e;
    color: #fff;
    text-align: center;

    .footer-div-1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        @media screen and(max-width:900px){
            flex-direction: column;
        }
    }
    .footer-element{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-icons{
        width: 41px;
    }
    .main-text{
        margin: 0px;
    }
    .sub-text{
        font-size: 12px;
        line-height: 16px;
        color: #d9d9d9;
    }
    .store-details{
        padding: 10px;
        border-top: 1px solid hsla(0,0%,100%,.1);
    }
    .pd-10{
        padding-top: 12px;
    }
    .footer-links-section{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 18px 24px;
        border-top: 1px solid hsla(0,0%,100%,.1);
        .footer-links-section-upper{
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        .footer-link{
            margin:6px 16px;
            color: #fff;
        }
    }
}